@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
    background-color: rgb(223, 223, 223);
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.menu {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 0;
    height: 100vh;
    padding-left: 5px;
    background-color: rgb(255, 255, 255);
    position: fixed;
} 
.content-menu {
    width: 200px;
}
.content-data {
    margin-left: 220px;
    width: calc(100%-200px);
}
.header-one {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-two {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.menu-item:hover{
    background-color: rgb(228, 228, 228);
}
.pic-menu {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 19px;
    left: 10px;
}
.footer-list{
    list-style: none;
    display: flex;
}
ul {
    list-style: none;
}
.menu-item:hover{
    background-color: rgb(179, 15, 91);
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.5);
 }
 .active-pic {
    top: 160px;
 }
.link-menu {
    width: 150px;
    height: 20px;
    vertical-align: middle;
    padding: 20px 20px  20px 35px  ;
    text-decoration: none;
    color: rgb(58, 58, 58);
    margin: 0;
    font-size: 13px;
}
.menu-item:hover .link-menu  { 
    color: rgb(255, 255, 255);
}
.menu-item:hover .gray { 
    display: none;
}
.white {
    display: none;
}
.menu-item:hover .white { 
    display: block;
}
.item-content {
    display: flex;
    position: relative;
}
hr {
    border: none; 
    color: rgb(202, 202, 202);
    background-color: rgb(202, 202, 202); 
    height: 1px; 
}
.footer-text-one {
 width: 10%;
}
.footer-text-two {
    width: 10%;
}
.footer-text-three {
    width: 60%;
}
.footer-text-four {
    width: 20%;
}
.footer {
    margin: 18px 0;
}
.link-footer a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    
}
.link-footer:hover a { 
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header h3{
    margin: 10px;
    padding-top: 10px;
}
.button-header{
    display: none;
}
.button-header img{
    width: 30px;
    padding: 20px 10px 0px 20px;
}
.header-name{
    display: flex;
    padding-top: 6px;
}
.item-content-active {
    display: flex;
}
.use-active {
    background-color: rgb(179, 15, 91);
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.5);
}
.use-active .link-menu  { 
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 1350px) {
    .content-data {
        width: calc(100%-200px);
    }
    .foote-text-four {
        font-size: 15px;
        width: 25%;
    }
}

@media screen and (max-width: 800px) {
    .content-menu {
        display: none;
    }
    .content-data {
        width: 100%;
        margin-left: 0;
    }
    .button-header{
        display: block; 
        cursor: pointer;
    }  
    .header-two {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 20px;
    }
    .header-name {
        width: 100%;
        background-color: antiquewhite;
        position: fixed;
        left: 0;
        top: 0;
        z-index: +1;
        padding-bottom: 5px;
        background-color: rgb(255, 251, 251);
        box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    
    }
}
@media screen and (max-width: 550px) {
    .footer-list li{
        font-size: 10px;
    }
    .footer-text-three {
        width: 30%;
    }
    .foote-text-four {
        font-size: 10px;
        width: 49%;
    }
    .footer-text-three {
        width: 30%;
    }
    .footer-text-two {
        width: 20%;
    }
    .footer-text-one {
        width: 20%;
    }

}

